body {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  cursor: default;
  margin: 0 !important;
  padding: 0 !important;
  background-image: url("img/main.jpg");
  background-size: cover;
  opacity: 0.9;
}
h2 > a:active, h2 > a:visited, h2 > a:link {
  display: block;
  color: #ff0000;
  position: relative;
  right: 0px;
  top: 15vh;
  font-size: 2.5em;
  text-decoration: underline;
}
h3
{
  color: #ff0000;
  font-size: 30px;
}
a:link
{
	text-decoration: none;
}a:visited
{
	text-decoration: none;
}
a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}
.main
{
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	display: inline-block;
}
img.logo
{
	margin: 0;
	padding: 0;
	width: 120%;
}
img.imgi
{
	width: 110px;
}
figure
{
	text-align: center;
}
figcaption
{
	font-size: 3em;
	margin-left: 20px;
}
.part
{
	display: inline-block;
	min-height: 50px;
}
.part1
{
	display: inline-block;
}
.down
{
	position: fixed;
	bottom: 0px;
	left: 0px;
}

/* na mobilkach */

@media only screen and (max-width: 980px){
	
	figure
	{
	margin: 0;
	padding: 0;
	}
	img.logo
	{
		width: 80%;
	}
@media only screen and (max-width: 750px) {
	
	#body
	{
		font-size: 10px !important;
	}
	img.imgi
	{
		width: 70px;
	}
	.part1
	{
		display: none;
	}
	.part2
	{
		display: none;
	}
	}
	figcaption
	{
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 460px) {
	#body
	{
		font-size: 5px !important;
		background-image: url("img/back.png");
	}
	figcaption
	{
		color: #ccc;
	}
	h3
	{
		font-size: 20px;
	}
	h2 > a
	{
		2em;
	}
}