canvas {
	cursor: pointer;
	border-radius: 30px;
    display: block;
	background-size: cover;
	-webkit-box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
	-moz-box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
	box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
	margin:0 auto;
   }
body{
	font-family:Helvetica;
	cursor: default;
	margin:0;
	background-image:url('img/back.png')/*image from www.subtlepatterns.com  by Federica Pelzel*/
	}
	html{
		width: 100vw !important;
	}
.container
{
	margin:0 auto;
	margin-top: 10%;
}
.upgrademenu
{
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	height: 350px;
}
.price
{
	padding: 5px;
	border: 2px solid #cc0000;
	border-radius: 15px;
	margin: auto;
	transition: 0.4s ease all;
}

.price:hover
{
	background-color: #aaa;
}
.col{
	padding: 0 !important;
	margin: 0 !important;
}
.card-text
{
	font-size: 15px;
}