canvas {
	border: 5px solid red;
	border-radius: 30px;
    display: block;
	background-image: url("img/background.png");
	background-size: cover;
	-webkit-box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
	-moz-box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
	box-shadow: -10px 10px 46px -16px rgba(102,102,102,1);
   }
body{
	font-family:Helvetica;
	cursor: default;
	margin:0;
	background-image:url('img/back.png')/*image from www.subtlepatterns.com  by Federica Pelzel*/
    }
.container
{
	margin-top: 10%;
}
.upgrademenu
{
	display: inline-block;
	border: 5px solid red;
	border-radius: 30px;
	text-align: center;
	padding: 15px 0;
}
.upgrade
{
	background-color: white;
	border-radius: 20px;
	text-align: center;
	height: 95%;
	padding: 10px;
}
bold
{
	font-weight: 700;
}
.price
{
	padding: 5px;
	border: 2px solid #cc0000;
	border-radius: 15px;
	margin: auto;
	transition: 0.4s ease all;
}
.sth
{
	background-color: #fcd600;
	border-radius: 30px;
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;
}
.price:hover
{
	background-color: #aaa;
}